.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

svg {

}
svg g {
  fill: #3F51B5;
  fill-opacity: 0.6;
}
svg g:hover {
  fill-opacity: 1;
}
svg g:hover text {
  fill-opacity: 1;
}
svg g.red .hexagon {
  fill: Red;
  fill-opacity: 0.4;
}
svg g.green .hexagon {
  fill: Green;
  fill-opacity: 0.4;
}
svg g.blue .hexagon {
  fill: Blue;
  fill-opacity: 0.4;
}
svg g.magenta .hexagon {
  fill: magenta;
  fill-opacity: 0.4;
}
svg g.black .hexagon {
  fill: black;
  fill-opacity: 0.4;
}
svg g.orange .hexagon {
  fill: orange;
  fill-opacity: 0.4;
}
svg g.brown .hexagon {
  fill: brown;
  fill-opacity: 0.4;
}
svg g.indigo .hexagon {
  fill: indigo;
  fill-opacity: 0.4;
}
svg g.gray .hexagon {
  fill: gray;
  fill-opacity: 0.4;
}
svg g.coral  .hexagon {
  fill: Coral;
  fill-opacity: 0.9;
}
svg g polygon {
  stroke: #3F51B5;
  stroke-width: 0.2;
  transition: fill-opacity .2s;
}
svg g text {
  font-size: 0.05em;
  fill: #ffffff;
  fill-opacity: 0.9;
  transition: fill-opacity .2s;
}
svg path {
  fill: none;
  stroke: hsl(60, 20%, 70%);
  stroke-width: 0.4em;
  stroke-opacity: 0.3;
  stroke-linecap: round;
  stroke-linejoin: round;
}
